<!DOCTYPE html>
<html lang="spa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--title and description -->
    <title>Emiro Kastos</title>
    <meta
      name="description"
      content="Project for the digitalization and divulgation of the first 100 years of Venezuelan short stories"
    />

    <!-- icon-->
    <link rel="icon" type="image/" sizes="32x32" href=".././images/icon.png" />

    <!--Styles-->
    <link rel="stylesheet" href=".././styles/main.css" />
    <link rel="stylesheet" href=".././styles/writers.css" />
  </head>

  <!--Main-->

  <body>
    <div class="main_container" id="home">
      <!-- Menu-->
      <div class="navbar">
        <div class="logo">
          <a href="#"><img src=".././images/icon.png" /></a>
        </div>
        <div class="navbar_items">
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../index.html#about">Proyecto</a></li>
            <li><a href="../index.html#shortstories">Obras</a></li>
            <li><a href="../index.html#ourteam">Promotores</a></li>
            <li><a href="../index.html#contactus">Contacto</a></li>
          </ul>
        </div>
      </div>

      <!--banner intro-->

      <div class="banner_image">
        <div class="banner_content">
          <h1>Autores</h1>
        </div>
      </div>

      <!-- bio-->
      <section class="intro">
        <div class="container">
          <h1>Cuentistas venezolanos &darr;</h1>
          <br />
          <p>
            Acá encontrarás los autores digitalizados, ordenados alfabéticamente
          </p>
          <p></p>
        </div>
      </section>

      <!--start writers-->
      <section class="w">
        <div class="item" id="1">
          <h3 class="item_title">Alejandro Fernández García</h3>
          <h5>Obra digitalizada</h5>
          <a
            href="https://drive.google.com/file/d/1PWGs9sG0YcLGtW18LAu980aqWSwZL-UR/view?usp=sharing"
            target="_ blank"
            ><p class="read">"Los naufragos"</p></a
          >
        </div>

        <div class="item" id="2">
          <h3 class="item_title">Alfredo Armas Alfonzo</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"El único ojo de la noche"</p></a
          >
        </div>

        <div class="item" id="3">
          <h3 class="item_title">Andrés Eloy Blanco</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"La gloria de mamporal"</p></a
          >
        </div>
        <div class="item" id="4">
          <h3 class="item_title">Andrés Level</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"La fiesta de la Virgen del Valle"</p></a
          >
        </div>

        <div class="item" id="5">
          <h3 class="item_title">Ángel Miguel Queremel</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"><p class="read">"Yo, Pecador"</p></a>
        </div>

        <div class="item" id="6">
          <h3 class="item_title">Antonio Arraiz</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"La cucarachita Martínez"</p></a
          >
          <a href="#" target="_ blank"><p class="read">"Oswaldo"</p></a>
        </div>

        <div class="item" id="7">
          <h3 class="item_title">Antonio Márquez Salas</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"El hombre y su verde caballo "</p></a
          >
        </div>

        <div class="item" id="8">
          <h3 class="item_title">Arturo Croce</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"Los ojos salvajes "</p></a
          >
        </div>

        <div class="item" id="9">
          <h3 class="item_title">Arturo Uslar Pietri</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"><p class="read">"Barrabás "</p></a>
          <a href="#" target="_ blank"><p class="read">"La lluvia "</p></a>
          <a href="#" target="_ blank"><p class="read">"El gallo "</p></a>
          <a href="#" target="_ blank"
            ><p class="read">"La hamaca de Bolívar "</p></a
          >
          <a href="#" target="_ blank"
            ><p class="read">"Nuevo mundo, mundo nuevo "</p></a
          >
        </div>

        <div class="item" id="10">
          <h3 class="item_title">Blas Millán (Manuel Guillermo Díaz)</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"><p class="read">"la radiografía "</p></a>
        </div>

        <div class="item" id="11">
          <h3 class="item_title">Carlos Eduardo Frías</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"Agonía al fondo "</p></a
          >
        </div>
        <div class="item" id="12">
          <h3 class="item_title">Carlos Fulgencio López</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"><p class="read">"Madrugada "</p></a>
        </div>

        <div class="item" id="13">
          <h3 class="item_title">Carlos Paz García</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"Andanzas de un guerrillero "</p></a
          >
        </div>
        <div class="item" id="13">
          <h3 class="item_title">Celestino Peraza</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">
              "Leyenda de la diablesa y el fantasma del moro "
            </p></a
          >
        </div>

        <div class="item" id="14">
          <h3 class="item_title">Celestino Peraza</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">
              "Leyenda de la diablesa y el fantasma del moro "
            </p></a
          >
        </div>

        <div class="item" id="15">
          <h3 class="item_title">Daniel Mendoza</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"Un llanero en la capital "</p></a
          >
          <a href="#" target="_ blank"
            ><p class="read">"Palmarote en Apure "</p></a
          >
          <a href="#" target="_ blank"><p class="read">" Gran sarao "</p></a>
          <a href="#" target="_ blank"
            ><p class="read">" Los muchachos a la moda "</p></a
          >
        </div>

        <div class="item" id="16">
          <h3 class="item_title">Delfín Aurelio Aguilera</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">
              "Memorias de un prócer de la Federación boba "
            </p></a
          >
        </div>

        <div class="item" id="17">
          <h3 class="item_title">Diego Jugo Ramírez</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"Una venganza póstuma"</p></a
          >
        </div>

        <!--div class="item" id="18">
        <h3 class="item_title">
          Ednodio Quintero
        </h3>
        <h5>Obra digitalizada</h5>
        <a
          href="#"
          target="_ blank"
          ><p class="read">" 
            "</p></a>
      </div>
    -->

        <div class="item" id="19">
          <h3 class="item_title">Eduardo Arcilla Farías</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"><p class="read">"Sudor "</p></a>
        </div>
        <div class="item" id="20">
          <h3 class="item_title">Eduardo Blanco</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"><p class="read">"El número 111 "</p></a>
        </div>

        <!-- <div class="item" id="21">
        <h3 class="item_title">
          Eduardo Liendo
        </h3>
        <h5>Obra digitalizada</h5>
        <a
          href="#"
          target="_ blank"
          ><p class="read">"
            "</p></a>
      </div>
    -->
        <div class="item" id="22">
          <h3 class="item_title">Enrique Soublette</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"><p class="read">"La fajina "</p></a>
        </div>

        <div class="item" id="23">
          <h3 class="item_title">Eugenio Méndez y Mendoza</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"Hechos naturales y misteriosos"</p></a
          >
          <a href="#" target="_ blank"
            ><p class="read">"El tendero caraqueño"</p></a
          >
          <a href="#" target="_ blank"><p class="read">"Los entierros"</p></a>
          <a href="#" target="_ blank"
            ><p class="read">"Los muchachos de Caracas"</p></a
          >
          <a href="#" target="_ blank"
            ><p class="read">"Un viaje en tranvía "</p></a
          >
          <a href="#" target="_ blank"
            ><p class="read">"Una fiesta religiosa"</p></a
          >
        </div>

        <div class="item" id="24">
          <h3 class="item_title">Felipe Tejera</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"Apuros de un padre de familia "</p></a
          >
          <a href="#" target="_ blank"><p class="read">"Un baile "</p></a>
        </div>

        <div class="item" id="25">
          <h3 class="item_title">Fermín Toro</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"La Sibila de los Andes "</p></a
          >
          <a href="#" target="_ blank"
            ><p class="read">"El solitario de las catacumbas "</p></a
          >
          <a href="#" target="_ blank"
            ><p class="read">"La viuda de Corinto "</p></a
          >
          <a href="#" target="_ blank"><p class="read">" Un romántico "</p></a>
        </div>

        <div class="item" id="26">
          <h3 class="item_title">Francisco Massiani</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"><p class="read">"Piedra de mar "</p></a>
          <a href="#" target="_ blank"
            ><p class="read">" Un regalo para Julia "</p></a
          >
        </div>

        <div class="item" id="27">
          <h3 class="item_title">Francisco Sales Pérez</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"><p class="read">"El ávaro "</p></a>
          <a href="#" target="_ blank"><p class="read">"Bombo "</p></a>
          <a href="#" target="_ blank"
            ><p class="read">"El buhonero-vulgo quincallero "</p></a
          >
          <a href="#" target="_ blank"
            ><p class="read">"El teniente Perdigón "</p></a
          >
          <a href="#" target="_ blank"
            ><p class="read">"Las agencias funerarias "</p></a
          >
          <a href="#" target="_ blank"
            ><p class="read">"La casa de empeños "</p></a
          >
          <a href="#" target="_ blank"><p class="read">"La crisis "</p></a>
          <a href="#" target="_ blank"
            ><p class="read">"La gente decente "</p></a
          >
          <a href="#" target="_ blank"
            ><p class="read">"Las Tres Aristocracias "</p></a
          >
          <a href="#" target="_ blank"><p class="read">"Los mordiscos "</p></a>
          <a href="#" target="_ blank"><p class="read">"Los patiquines "</p></a>
          <a href="#" target="_ blank"
            ><p class="read">"Los quincalleros turcos "</p></a
          >
          <a href="#" target="_ blank"><p class="read">"Los Retratos "</p></a>
          <a href="#" target="_ blank"><p class="read">"Pesadilla "</p></a>
        </div>

        <div class="item" id="28">
          <h3 class="item_title">Gabriel Ángel Bracho</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"><p class="read">"Odio"</p></a>
        </div>
        <div class="item" id="29">
          <h3 class="item_title">Gonzalo Picón Febres</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"La octavita de corpus de San Juan "</p></a
          >
        </div>
        <div class="item" id="30">
          <h3 class="item_title">Guillermo Meneses</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"La mano junto al muro"</p></a
          >
        </div>

        <div class="item" id="30">
          <h3 class="item_title">Guillermo Meneses</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"La mano junto al muro"</p></a
          >
        </div>
        <div class="item" id="31">
          <h3 class="item_title">Gustavo Díaz Solis</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"><p class="read">"Arco secreto"</p></a>
        </div>

        <!-- 
          
          <div class="item" id="32">
          <h3 class="item_title">Héctor Mújica</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"Las tres ventanas"</p></a
          >
        </div> 

        <div class="item" id="33">
          <h3 class="item_title">Horacio Cárdenas Becerra
          </h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"El mugroso
              "</p></a
          >
        </div>
      
      
      <div class="item" id="34">
        <h3 class="item_title">Humberto Rivas Miares        </h3>
        <h5>Obra digitalizada</h5>
        <a href="#" target="_ blank"
          ><p class="read">"El Mundo
            "</p></a
        >
      </div>
-->
        <div class="item" id="35">
          <h3 class="item_title">Jesús Enrique Lossada</h3>
          <h5>Obra digitalizada</h5>
          <a href="#" target="_ blank"
            ><p class="read">"La máquina de la felicidad"</p></a
          >
        </div>
      </section>
    </div>
  </body>
</html>
