/* Navigation Bar */
.navbar{
	width: 100%;
	height: 50px;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
    opacity: 100%;
    z-index:300;
}
.logo img{
width: 40px;
height: 40px;
margin-top: 10px;
align-content: center;

}

.navbar_items ul{
	margin:0;
    display: flex;
    justify-content: space-around;
}

.navbar_items ul li{
	margin: 5px 10px;
}

.navbar_items ul li a{
	text-transform: uppercase;
	color: red;
}
.navbar_items ul li a:hover{
    color:white;
}
